@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "graphikthin";
  font-style: thin;
  font-weight: 100;
  src: local(""), url("/fonts/._QueensTrial-Regular.ttf") format("ttf");
} */

@layer components {
  body {
    @apply bg-[#121921] text-[#E9F1F4];
  }

  p {
    @apply font-graphik font-light text-lg md:text-2xl;
  }

  .section_title {
    @apply text-2xl tracking-widest font-graphik font-light text-center my-10 p-2;
  }
  .input {
    @apply py-1 pl-1 w-full text-lg text-[#e9f1f4] bg-transparent border-[0.2px] border-dotted;
  }

  @font-face {
    font-family: queens Trial;
    src: url("../public/fonts/._QueensTrial-Regular.ttf") format(ttf);
  }

  @font-face {
    font-family: Graphik;
    src: url("../public/fonts/GraphikThin.otf") format(otf);
  }
}

/* my-project\public\fonts\GraphikThin.otf */
